# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências (já podem ser instaladas via package.json)
node_modules/

# Builds e arquivos gerados automaticamente
dist/
dist-ssr/
tmp/

# Configurações e credenciais sensíveis
*.local
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini
